
.singlepagecontent img{
    display: inline;
}

.tutorialimagediv{
    display:flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

.tutorialimagediv img{
    max-width: 305px;
}

.displaydescription{
    opacity: 0.75;
    cursor: pointer;
}

header h1 a{
    color: #ff3e1f;
    text-decoration: none;
}

a{
    color: #ff3e1f;
}

a:hover{
    color: #1fe0ff;
}

aside a:visited{
    color: #3914c3;
}

aside a:visited:hover{
    color: #1fe0ff;
}

aside ul{
    list-style: none;
}

.footercc{
    text-decoration: none;
}

@media only screen and (min-width: 800px) and (max-width: 1599px) {
  .tutorialimage img{
      max-width: 45%;
      display: inline;
  }
}

@media only screen and (max-width: 799px) {
    .tutorialimage img{
        max-width: 45%;
        display: inline;
    }
}
