{{ define "title"}} {{ .Title }} ~ {{ .Site.Title}} {{ end }} {{ define "main"
}}
<section>
  <h1>{{ .Title }}</h1>
  {{ range (.Paginate .RegularPagesRecursive).Pages }}
  <article>
    <div class="postheader">
      <h2><a href="{{.Permalink}}" class="postTitle">{{.Title}}</a></h2>
      <p>{{.Date.Format "2006-01-02"}}</p>
    </div>
    <div>{{ .Content }}</div>

    <div class="shareemail">
      <a
        href="mailto:?subject={{.Title}} Recipe;body={{ .Permalink }}"
        title="Share by email"
        ><img src="/images/mail-line.svg" alt="envelope" class="envelope" />
        Share via email</a
      >
    </div>
    <p style="text-align: center">***</p>
    <hr class="separatorline" />
  </article>
  {{ end }} {{ if .Paginator.HasPrev }}
  <a href="{{ .Paginator.Prev.URL }}" class="paginatorarrows"> << </a>
  {{ end }} {{ .Paginator.PageNumber }} {{ if .Paginator.HasNext }}
  <a href="{{ .Paginator.Next.URL }}" class="paginatorarrows"> >> </a>
  {{ end }}
</section>

{{ end }}
