@font-face{
    font-family: "Inter";
    src: url("Inter-VariableFont_slnt,wght.ttf");
}

html{
    box-sizing: border-box;
    width: 98vw;
    background-color: white;
    color: #252525;
    font-family: Inter, sans-serif, arial;
}

body{
    margin: auto;
    width: 1400px;
    padding-top: 20px;
}


.top-nav ul li{
    list-style: none;
}

article li{
    list-style: disc;
}

article ul{
    margin-bottom: 40px;
}

.top-nav{
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    padding-left: 0px;
}

.top-nav a{
    text-decoration: none;
    color: #252525;
}

.active{
    text-decoration: underline;
}

.postTitle{
    text-decoration: none;
    font-size: 20px;
    color: #252525;
    font-weight: bold;
}

.postTitle:hover{
     color: #ff3e1f;
}

.postheader{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.postheader h2{
    margin-bottom:0px;
    margin-top:0px;
}

.postheader h2 a{
    color: #252525;
}


.separatorline{
    color: lightgrey;
    border-width: 1px 0px 0px 0px;
    border-style: dotted;
    /* margin-top: 40px; */
}

aside{
    width: 300px;
}

aside h3{
    padding-left: 40px;
}

aside ul li{
    line-height: 1.5;
}

#content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: calc(100vh - 200px);
}

#content section{
    width: 70%;
}

footer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

footer img{
    vertical-align: middle;
    width: 20px;
}

.pagination{
    margin: auto;
    width: 400px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-left: 0px;
}

.pagination li{
    width: 20px;
    height: 20px;
    text-align: center;
    margin-top: 10px;
}

.single{
    width: 70%;
}

.single ul{
    margin-bottom: 40px;
}

.shareemail{
    text-align: left;
    height: 40px;
}

.shareemail a{
    text-decoration: none;
}

.envelope{
    width: 15px;
}

.singlepagepaginatinor{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


#coursesthumbnails{
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 325px 325px 325px;
    grid-auto-rows: 400px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.recipethumbnail{
    width: 280px;
    height: 280px;
    object-fit: cover;
}

.coursepost{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.searchresults{
    position: absolute;
    top: 195px;
    width: 900px;
    background-color: white;
    padding: 30px 50px 50px 50px;
    border: 1px solid grey;
}

.searchresults ul li{
    margin: 10px;
}

#searchresultsheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#searchresultsheader button{
    border: 1px solid #252525;
    background: white;
    cursor: pointer;
    width: 23px;
    height: 23px;
    color: #ff3e1f;
    display: flex;
    justify-content: center;
}

#searchresultsheader button:hover{
    color: white;
    background: #ff3e1f;
    border: 1px solid white;
}

form{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
}

form button{
    border: 1px solid grey;
    background: white;
    cursor: pointer;
    margin-left: 3px;
    padding: 1px 6px;
}

form button:hover{
    color: white;
    background: #ff3e1f;
    border: 1px solid #ff3e1f;
}

input:focus-visible{
    outline: none;
}

@media only screen and (min-width: 800px) and (max-width: 1599px) {
  body {
      width: 100%;
      margin-left: 10px;
  }
  article img{
      display: block;
      max-width: 100%;
  }
  aside{
      width: 250px;
  }
  aside form{
      padding-left: 25px;
      flex-direction: column;
      gap: 4px;
  }

  aside h3{
      padding-left: 25px;
  }

  #searchbox{
      width: 100%;
      font-size: 16px;
  }
  aside form button{
      align-self: flex-end;
      width: 75px;
  }
  aside ul{
      padding-left: 25px;
  }

  .shareemail img{
      display: inline;
  }
  #coursesthumbnails{
      grid-template-columns: calc(68vw / 2) calc(68vw / 2);
      grid-auto-rows: calc(75vw/2 + 50px);
  }
  .recipethumbnail{
      width: calc(65vw / 2);
      height: calc(65vw / 2);
      object-fit: cover;
  }
}

@media only screen and (max-width: 799px) {
    body{
        width: 97%;
    }
      article img{
      display: block;
      max-width: 100%;
      }

      aside{
          width: 100%;
      }
      aside h3{
          padding-left: 0px;
      }
      aside ul{
          padding-left: 0px;
      }

      aside form{
          padding-left: 0px;
          gap: 4px;
      }

      aside form button{
      width: 75px;
      }

      #content{
          flex-direction: column;
          gap: 20px;
      }
      #content section{
          width: 100%;
      }
      .single{
          width: 100%
      }
      .shareemail img{
          display: inline;
      }
      #tags{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 5px;
      }
      #searchbox{
          font-size: 16px;
      }
      #coursesthumbnails{
          display: flex;
          flex-direction: column;
          margin-left: 10px;
      }
      .searchresults{
          width: 95%;
          position: fixed;
          top: 20px;
          padding: 0px 0px 20px 0px;
      }
      #searchresultsheader{
          padding: 5px 15px;   
      }
  .recipethumbnail{
      width: 90vw;
      height: 90vw;
      object-fit: cover;
  }
}


