<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <meta name="author" content={{ $.Site.Params.authorname }} />
  <title>{{ block "title" . }} {{ end }}</title>
  <link rel="stylesheet" href='/css/style.css' media="screen" />
  <link rel="stylesheet" href='/css/customBlogStyle.css' media="screen" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  {{ range .AlternativeOutputFormats }} {{ printf `<link
    rel="%s"
    type="%s"
    href="%s"
    title="%s"
  />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end }}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <body>
    <noscript
      >You have disabled Javascript. Fluff before recipes will not be
      hidden.</noscript
    >
    {{ partial "header.html" . }}
    <div id="content">
      {{ block "main" . }}{{ end }} {{ partial "sidebar.html" . }}
    </div>
    {{ partial "footer.html" . }}

  </body>
</html>
