<aside>
  <form>
    <div>
      <label for="searchbox">
        <input
          type="search"
          id="searchbox"
          size="20"
          name="searchbox"
          aria-label="Search throught the site content."
          placeholder="Search for a recipe"
        />
      </label>
    </div>
    <button>Search</button>
  </form>

  {{ range $taxonomy_term, $taxonomy := .Site.Taxonomies }} {{if (eq
  $taxonomy_term "tags")}}
  <h3>Recipes by tag</h3>
  {{else}}
  <h3>Recipes by course</h3>
  {{end}}

  <ul id="{{ $taxonomy_term }}">
    {{ range $key, $value := $taxonomy }}
    <li>
      <a href="/{{$taxonomy_term}}/{{ $key | urlize }}">{{ $key }}</a> ({{ len
      $value}})
    </li>
    {{ end }}
  </ul>

  {{end}}
</aside>
