<footer>
  <p>
    <span>
      <a
        href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
        class="footercc"
        title="Creative Commons License"
      >
        <img
          src="/images/creative-commons-fill.svg"
          alt="creativecommonslicense"
        />
        <img
          src="/images/creative-commons-by-fill.svg"
          alt="creativecommonslicenseby"
        />
        <img
          src="/images/creative-commons-nc-fill.svg"
          alt="creativecommonslicensenc"
        />
        <img
          src="/images/creative-commons-nd-fill.svg"
          alt="creativecommonslicensend"
        />
      </a>
    </span>
    <span>
      |
      <img src="/images/copyright-fill.svg" alt="copyright" />
      Punched Potatoes</span
    >
  </p>
  <script defer language="javascript" type="module"  src="{{ "/js/search.js" | urlize | relURL }}"></script>
  <script src="https://unpkg.com/lunr/lunr.js"></script>
  {{ if eq .Section "recipes"}}
  <script defer language="javascript" type="text/javascript"  src="{{ "/js/tutorialimages.js" | urlize | relURL }}"></script>
  {{ end}}
</footer>

